*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

@media only screen and (max-width: 62.5em) {
  html {
    font-size: 50%;
  }
}

body {
  font-size: 1.5rem;
  color: black;
  line-height: 1.4;
  font-family: sans-serif;
  overflow-x: hidden;
}

.main {
  font-size: 1.5rem;
  color: black;
  font-family: sans-serif;
  font-weight: 500;
  overflow-x: hidden;
  width: 100%;
}

.main-section {
  width: 100%;
}

.pop-up {
  height: 100vh;
  position: fixed;
  width: 100vw;
  z-index: 6;
  top: 0;
  left: 0;
  background-color: black;
  display: none;
}

.pop-up__holder {
  position: absolute;
  left: 50%;
  top: 40%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.pop-up__ul {
  list-style: none;
}

.pop-up__li {
  margin-top: 4rem;
  color: #fff;
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: 600;
  width: 20rem;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  -webkit-transition: all .4s;
  transition: all .4s;
  text-align: center;
}

.pop-up__li:hover {
  background-position: 100%;
  color: rgba(0, 128, 0, 0.916);
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
}

.first-section {
  height: 100vh;
  width: 100vw;
  position: relative;
}

@media only screen and (max-width: 31.25em) {
  .first-section {
    height: 50vh;
  }
}

.first-section__part1 {
  height: 10vh;
  width: 100vw;
  background-color: #000;
}

.first-section__link1 {
  text-decoration: none;
  color: #fff;
}

.first-section__link1:hover {
  color: red;
}

.first-section__part1-holder {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.first-section__h2 {
  margin-left: 4rem;
  font-size: 2.3rem;
}

@media only screen and (max-width: 31.25em) {
  .first-section__h2 {
    font-size: 2rem;
  }
}

.first-section__h2-holder {
  color: #fff;
  margin-right: auto;
}

.first-section__line {
  width: 3.5rem;
  height: 2px;
  background-color: #fff;
  position: relative;
  top: 0%;
  right: 0%;
  margin-top: .5rem;
  display: none;
}

@media only screen and (max-width: 45em) {
  .first-section__line {
    display: block;
  }
}

.first-section__line::before {
  content: "";
  background-color: #fff;
  width: 3.5rem;
  height: 2px;
  margin-bottom: 1rem;
  position: absolute;
  top: .8rem;
}

.first-section__line::after {
  content: "";
  background-color: #fff;
  width: 3.5rem;
  height: 2px;
  top: -.8rem;
  position: absolute;
  right: 0%;
}

.first-section__ul {
  list-style: none;
  margin-top: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-weight: 550;
  text-transform: capitalize;
}

@media only screen and (max-width: 45em) {
  .first-section__ul {
    display: none;
  }
}

.first-section__li1 {
  font-size: 2rem;
  margin-left: 2rem;
}

.first-section__li2 {
  font-size: 2rem;
  margin-left: 2rem;
}

.first-section__part2 {
  height: 90vh;
  width: 100vw;
  padding-top: 20rem;
  padding-left: 15rem;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.381)), to(rgba(0, 0, 0, 0.381))), url("../public/web-1/house5.jpg");
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.381), rgba(0, 0, 0, 0.381)), url("../public/web-1/house5.jpg");
  background-position: 90%;
  background-size: cover;
}

@media only screen and (max-width: 31.25em) {
  .first-section__part2 {
    padding-top: 20%;
    padding-left: 5%;
    height: 40vh;
  }
}

.first-section__part2__part2-holder {
  height: 100%;
  width: 100%;
}

.first-section__part2-h2 {
  font-size: 4rem;
  color: whitesmoke;
  font-weight: 600;
  font-family: serif;
}

.first-section__part2-p {
  color: red;
  margin-top: 0rem;
  font-size: 2.3rem;
  font-weight: 600;
}

.first-section__button {
  margin-top: 1rem;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  text-transform: capitalize;
  padding: 1rem 3rem;
  border: none;
  background: red;
  outline: none;
  text-decoration: none;
  border-radius: 4px;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}

.first-section__button:hover {
  background: white;
  color: red;
}

.second-section {
  height: 100vh;
  width: 100vw;
}

@media only screen and (max-width: 45em) {
  .second-section {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

.second-section__holder {
  height: 100%;
  width: 100%;
  padding: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 45em) {
  .second-section__holder {
    display: block;
  }
}

@media only screen and (max-width: 31.25em) {
  .second-section__holder {
    padding: 3rem;
  }
}

.second-section__part1 {
  width: 50%;
}

@media only screen and (max-width: 45em) {
  .second-section__part1 {
    margin-bottom: 4rem;
    width: 100%;
  }
}

.second-section__part1-holder {
  width: 100%;
}

.second-section__part1-p {
  font-weight: 600;
  color: red;
  font-size: 2.5rem;
}

@media only screen and (max-width: 73.8125em) {
  .second-section__part1-p {
    font-size: 2rem;
  }
}

.second-section__part1-h2 {
  font-size: 6rem;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 73.8125em) {
  .second-section__part1-h2 {
    font-size: 4.5rem;
  }
}

@media only screen and (max-width: 31.25em) {
  .second-section__part1-h2 {
    font-size: 3.5rem;
  }
}

.second-section__ul {
  list-style: none;
}

.second-section__lli1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 73.8125em) {
  .second-section__lli1 {
    font-size: 1.5rem;
  }
}

.second-section__part2 {
  width: 50%;
}

@media only screen and (max-width: 45em) {
  .second-section__part2 {
    width: 100%;
  }
}

.second-section__img {
  height: 90%;
}

@media only screen and (max-width: 84.25em) {
  .second-section__img {
    height: 60%;
  }
}

@media only screen and (max-width: 62.5em) {
  .second-section__img {
    height: 50%;
  }
}

@media only screen and (max-width: 54.5em) {
  .second-section__img {
    height: 40%;
  }
}

@media only screen and (max-width: 45em) {
  .second-section__img {
    height: 30%;
    width: 100%;
  }
}

.second-section__icon {
  color: red;
  margin-right: .5rem;
}

.third-section {
  height: 100vh;
  width: 100vw;
  background-color: #000000;
  color: #fff;
  padding: 5rem;
}

@media only screen and (max-width: 45em) {
  .third-section {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 2rem;
  }
}

@media only screen and (max-width: 31.25em) {
  .third-section {
    padding: 0rem;
  }
}

.third-section__holder {
  height: 100%;
  width: 100%;
}

.third-section__h2 {
  text-align: center;
  font-weight: 600;
  font-size: 3rem;
  color: #fff;
}

@media only screen and (max-width: 31.25em) {
  .third-section__h2 {
    font-size: 2rem;
    padding-top: 1rem;
  }
}

.third-section__sub-h2 {
  text-align: center;
  font-weight: 600;
  font-size: 2rem;
  color: #fff;
  margin-bottom: 4rem;
}

@media only screen and (max-width: 31.25em) {
  .third-section__sub-h2 {
    font-size: 1.5rem;
  }
}

.third-section__main-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 45em) {
  .third-section__main-holder {
    display: block;
    margin-top: 10rem;
  }
}

.third-section__main-part1 {
  height: 38rem;
  width: 30rem;
  border: 1px solid rgba(128, 128, 128, 0.507);
  margin-right: 3rem;
  border-radius: 1rem;
  background-color: #fff;
  color: #000;
}

@media only screen and (max-width: 45em) {
  .third-section__main-part1 {
    height: 50rem;
    width: 80%;
    margin-right: 0rem;
    margin-left: 10rem;
    margin-bottom: 10rem;
  }
}

@media only screen and (max-width: 31.25em) {
  .third-section__main-part1 {
    margin-left: 5rem;
    margin-bottom: 5rem;
  }
}

.third-section__main-part1-holder {
  text-align: center;
  padding: 2rem;
}

.third-section__main-part1-card {
  font-size: 5rem;
}

.third-section__main-part1-h2 {
  margin-bottom: 2rem;
}

@media only screen and (max-width: 45em) {
  .third-section__main-part1-h2 {
    margin-bottom: 5rem;
  }
}

.third-section__main-part1-p {
  margin-bottom: 3rem;
  font-size: 2rem;
  font-weight: 550;
}

@media only screen and (max-width: 45em) {
  .third-section__main-part1-p {
    margin-bottom: 2rem;
  }
}

.third-section__main-part1-sub-p {
  margin-bottom: 2rem;
}

@media only screen and (max-width: 45em) {
  .third-section__main-part1-sub-p {
    margin-bottom: 10rem;
  }
}

.third-section__main-part1-rate {
  margin-bottom: 2rem;
}

@media only screen and (max-width: 45em) {
  .third-section__main-part1-rate {
    margin-bottom: 5rem;
  }
}

.third-section__main-part1-button {
  width: 80%;
  height: 4rem;
  border-radius: .5rem;
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 600;
  background-color: red;
  border: none;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
  cursor: pointer;
}

.third-section__main-part1-button:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.87);
}

.fourth-section {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100vw;
  padding: 10rem;
}

@media only screen and (max-width: 31.25em) {
  .fourth-section {
    padding: 4rem;
  }
}

.fourth-section__holder {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}

.fourth-section__head-holder {
  text-align: center;
  margin-bottom: 6rem;
}

@media only screen and (max-width: 31.25em) {
  .fourth-section__head-holder {
    margin-bottom: 2rem;
  }
}

.fourth-section__main {
  width: 100%;
}

.fourth-section__main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 45em) {
  .fourth-section__main-section {
    display: block;
  }
}

.fourth-section__part1 {
  width: 50%;
}

@media only screen and (max-width: 45em) {
  .fourth-section__part1 {
    width: 100%;
  }
}

.fourth-section__img1 {
  width: 90%;
  height: 40rem;
  background-image: url("../public/web-1/house1.jpg");
  background-position: 100%;
  background-size: cover;
  border-radius: 1rem;
  margin-bottom: 10rem;
}

@media only screen and (max-width: 31.25em) {
  .fourth-section__img1 {
    width: 100%;
  }
}

.fourth-section__img2 {
  width: 90%;
  height: 70rem;
  background-image: url("../public/web-1/egondo.webp");
  background-position: 100%;
  background-size: cover;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 31.25em) {
  .fourth-section__img2 {
    width: 100%;
  }
}

.fourth-section__part1-sub {
  text-align: center;
  margin-top: 8rem;
  width: 80%;
  margin-bottom: 15.1rem;
}

.fourth-section__part1-sub-p {
  font-size: 2rem;
  font-size: 2rem;
  letter-spacing: 2px;
}

.fourth-section__part2 {
  width: 50%;
}

@media only screen and (max-width: 45em) {
  .fourth-section__part2 {
    width: 100%;
  }
}

.fourth-section__part2-holder {
  padding-left: 1rem;
}

.fourth-section__img3 {
  background-image: url("../public/web-1/Nigerian-Estate.webp");
  background-position: 100%;
  background-size: cover;
  width: 90%;
  height: 70rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 31.25em) {
  .fourth-section__img3 {
    width: 100%;
  }
}

.fourth-section__img4 {
  background-image: url("../public/web-1/4f.jpg");
  background-position: 100%;
  background-size: cover;
  width: 90%;
  height: 50rem;
  border-radius: 1rem;
  margin-bottom: 8rem;
}

@media only screen and (max-width: 31.25em) {
  .fourth-section__img4 {
    width: 100%;
  }
}

.fourth-section__img5 {
  background-image: url("../public/web-1/Real-Estate-2.webp");
  background-position: 100%;
  background-size: cover;
  width: 90%;
  height: 40rem;
  border-radius: 1rem;
  margin-bottom: 10rem;
}

@media only screen and (max-width: 31.25em) {
  .fourth-section__img5 {
    width: 100%;
  }
}

.fourth-section__img6 {
  background-image: url("../public/web-1/idado-houseforsale-1280x720.jpg");
  background-position: 100%;
  background-size: cover;
  width: 90%;
  height: 50rem;
  border-radius: 1rem;
}

@media only screen and (max-width: 31.25em) {
  .fourth-section__img6 {
    width: 100%;
  }
}

.fourth-section__img7 {
  background-image: url("../public/web-1/img-12.jpg");
  background-position: 100%;
  background-size: cover;
  width: 90%;
  height: 40rem;
  border-radius: 1rem;
  margin-bottom: 10rem;
}

@media only screen and (max-width: 31.25em) {
  .fourth-section__img7 {
    width: 100%;
  }
}

.fourth-section__img8 {
  background-image: url("../public/web-1/image-of-house-in-lekki-870x420.jpg");
  background-position: 100%;
  background-size: cover;
  width: 90%;
  height: 50rem;
  border-radius: 1rem;
}

@media only screen and (max-width: 31.25em) {
  .fourth-section__img8 {
    width: 100%;
  }
}

.fifth-section {
  height: 50vh;
  width: 100vw;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(128, 128, 128, 0.5)), to(rgba(128, 128, 128, 0.5))), url("../public/web-1/house5.jpg");
  background-image: linear-gradient(to right bottom, rgba(128, 128, 128, 0.5), rgba(128, 128, 128, 0.5)), url("../public/web-1/house5.jpg");
  overflow: hidden;
}

@media only screen and (max-width: 31.25em) {
  .fifth-section {
    height: 30vh;
  }
}

.fifth-section__holder {
  padding-top: 8%;
  width: 100%;
  height: 100%;
}

.fifth-section__h2 {
  font-size: 3rem;
  font-weight: 600;
  color: #fff;
}

.fifth-section__p {
  font-weight: 500;
  color: #fff;
  font-size: 2rem;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 45em) {
  .fifth-section__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.fifth-section__input {
  height: 4rem;
  width: 25%;
  margin-right: 2rem;
  border: none;
  padding-left: 3rem;
  border-radius: .5rem;
}

@media only screen and (max-width: 45em) {
  .fifth-section__input {
    width: 70%;
  }
}

.fifth-section__button {
  height: 4rem;
  width: 12rem;
  text-transform: capitalize;
  border: none;
  border-radius: .5rem;
  margin-top: 1rem;
  -webkit-transition: all 1s;
  transition: all 1s;
  background-color: rgba(255, 0, 0, 0.964);
}

.fifth-section__button:hover {
  background-color: #fff;
  cursor: pointer;
}

@media only screen and (max-width: 45em) {
  .fifth-section {
    margin-top: 2rem;
  }
}

.footer {
  height: 60vh;
  width: 100vw;
  background-color: #000;
  color: #fff;
  padding-top: 10rem;
  padding-left: 0rem;
  padding-right: 10rem;
  padding-bottom: 10rem;
}

@media only screen and (max-width: 45em) {
  .footer {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding-left: 10rem;
  }
}

@media only screen and (max-width: 31.25em) {
  .footer {
    padding-bottom: 18rem;
  }
}

.footer__holder {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

@media only screen and (max-width: 45em) {
  .footer__holder {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-column-gap: 4rem;
    grid-row-gap: 8rem;
  }
}

.footer__part1 {
  width: 15%;
}

@media only screen and (max-width: 45em) {
  .footer__part1 {
    width: 40%;
  }
}

.footer__span {
  color: blue;
  font-style: italic;
}

.footer__h2 {
  color: red;
  margin-bottom: 2rem;
}

.footer__p {
  margin-bottom: 2rem;
  font-weight: 500;
  font-size: 1.5rem;
}

.footer__num {
  font-weight: 500;
  font-size: 1.5rem;
}

.footer__ul {
  list-style: none;
}

.footer__li1 {
  margin-bottom: 2rem;
}

.footer__li1:hover {
  color: red;
  cursor: pointer;
}

.footer__li2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: 600;
}

.footer__li2:hover {
  cursor: pointer;
}

.footer__name {
  text-align: center;
  margin-top: 7rem;
  text-transform: capitalize;
  font-weight: 550;
}
/*# sourceMappingURL=main.css.map */